# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

aconfig.h
config.cache
config.log
config.status
Makefile
bb
stamp-h1
.deps/
autom4te.cache/
